.checkout {
  display: flex;
  padding: 50px;
  background-color: white;
  height: max-content;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
  max-height: 150px;
}

.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout_title {
  border-bottom: 1px solid lightgray;
}

.checkout_right {
  min-width: 200px;
  margin-left: 10px;
}
