.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
  /* max-width: 1500px; */
}

.home_image {
  width: 100%;
  z-index: -1;
  margin-bottom: -180px;
}

.home_row {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  margin-right: 25px;
}
